{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<!-- write code here -->
<!--Just write title for title and put any image and style them. I will replace them with the real stuff later.-->
<!--complete code above this-->
{% if user.is_authenticated and user.accounttype == "2" %}
    <form method="POST">
        <div class="mb-3">
            <label for="course_details" class="form-label" style="margin: 0 auto;max-width: 700px;">Example textarea</label>
            <textarea class="form-control" id="course_details" rows="3"></textarea>
          </div>
        <button class="btn" style="background-color: #170e29;color:white;">Submit</button>
    </form>
{% endif %}
{% endblock %}