{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<!-- write code here -->
<!--Just write title for title and put any image and style them. I will replace them with the real stuff later.-->
<div style="padding-bottom: 500px;">Code code code</div>
<!--complete code above this-->
{{ course_details }}
{% if user.is_authenticated and user.accounttype == "2" %}
    <form method="POST">
        <div class="mb-3">
            <h4 for="course_details" class="form-label mb-4" style="text-align: center;">Add course details</h4>
            <textarea class="form-control mb-4" id="course_details" rows="17" style="margin: 0 auto;border: 1px solid #170e29;max-width: 800px;"></textarea>
          </div>
        <button class="btn mb-5" style="background-color: #170e29;color:white;display: block;margin: 0 auto;">Submit</button>
    </form>
    {{ course_details}}
{% endif %}
{% endblock %}