{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<!-- write code here -->
<!--Just write title for title and put any image and style them. I will replace them with the real stuff later.-->
<div style="padding-bottom: 500px;">Code code code</div>
<!--complete code above this-->
<h1>
    Course Name:C bootcamp
</h1>

<h2>
    Instructor:Aadi
</h2>
<h3>
    Price:$10
<h4>
    C is a general-purpose programming language created by Dennis Ritchie at the Bell Laboratories in 1972. 
    It is a very popular language, despite being old. The main reason for its popularity is because it is a fundamental language in the field of computer science.
</h4>


<button class="btn mt-4 mb-4" style="background-color: #170e29;"><a href="/cart" style="text-decoration: none;color: white;">Add course to cart</a></button> 
{% endblock %}