{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<!-- write code here -->
<!--Just write title for title and put any image and style them. I will replace them with the real stuff later.-->
<div style="padding-bottom: 500px;">Code code code</div>
<!--complete code above this-->
{{ title }}
{{ course_details }}
{% if user.accounttype == "1" %}
    <button class="btn mt-4 mb-4" style="background-color: #170e29;"><a href="/click_cart?course_id={{ course_id }}" style="text-decoration: none;color: white;">Add course to cart</a></button> 
{% endif %}
{% endblock %}