
{% extends "base.html" %}{% block title %}Course{% endblock %}
{% block content %}
<img class="courseimg" src="static/{{ imagfile_name }}" alt="course_image">
<div class="course mb-4 mt-4 me-4 mr-4">
<h1> Course Name: {{ title }}</h1>

<div>Instructor: {{ instructor_name }}</div>
<div class="mb-4">Price: ${{ price }}</div>
</div>

<h3 class="content mb-5">Course Content
</h3>

{% if course_details and user.accounttype == "1" %}
    <p class="paragraph">{{ course_details }}</p>
{% elif user.accounttype == "1" %}
    <p class="paragraph">Instructor will add course content here</p>
    <button class="btn mt-4 mb-4" style="background-color: #170e29;"><a href="/click_cart?course_id={{ course_id }}" style="text-decoration: none;color: white;">Add course to cart</a></button> 
{% elif not course_details %}
    <p class="paragraph">Instructor will add course content here</p>
{% else %}
    <p class="paragraph">{{ course_details }}</p>

{% endif %}
{% endblock %}