{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}

<div class="text">LEARN ANYTIME ANYWHERE</div>
<img src="static/page.jpg" id="image">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<div class="container" style="display:flex;justify-content: center;">

            <button class="btn"><a id="buttons" href="/all_courses" style="margin: 10px !important;padding: 10px; justify-content: center;"> COURSES </a></button>
        </div>
<div class="text2">LET'S START LEARNING,NAME </div>
<div class="wrapper">
    <img src="static/python.jpg" id="py">
    <div class="text-box">
        <h2>TITLE : INTRO TO PYTHON </h2>
        <p>Lorem ipsum dolor sit amet. Aut repellendus aperiam ut molestiae dolorum At voluptatem fugit. Aut pariatur beatae in amet sunt in quis libero sit animi magni quo blanditiis dolorum et nobis rerum sed officia quis.

            Et rerum quia ea consequatur pariatur ad iste labore hic voluptatibus aliquam ut provident commodi? Et porro quia ea sint velit est laboriosam internos vel repudiandae reiciendis. Id natus earum non ducimus architecto et voluptatem nulla sed quod nesciunt aut internos nulla vel facere tempore. 

        </p>
    </div>
</div>
<footer> 
    <div class="container">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p class="white-text">Email: App_name@gmail.com</p>
            <p class="white-text">Phone: +91 67347847</p>
            <p class="white-text">Address: IIT PALAKKAD</p>
        </div>
        <div class="footer-content">
        </div>
        <div class="copyi white-text">
            © Copyright 2024
        </div>
    </div>
</footer>


{% endblock %}                              