{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}

<div style=" display: flex;justify-content: center;"><button class="btn mb-5 mt-5" style="background-color: #170e29;color:white;align-items: center;justify-content: center;"><a href="/all_courses" style="text-decoration:none;color:white;">All courses</a></button></div>
<h1 class="mb-5" style="text-align: center;">Add courses</h1>
<form method="POST">
    
    <div class="form-outline mb-5" style="max-width: 500px;margin: 0 auto">
        <label for="course_name" class="form-label ms-5">Course Name</label>
        <input style="width: 400px;border:1px solid #170e29;" type="text" id="course_name" placeholder="Python Bootcamp" name="course_name" class="form-control ms-5">
    </div>
    <div class="mb-5" style="max-width: 500px;margin: 0 auto">
      <label for="instructor_name" class="form-label ms-5">Instructor Name</label>
      <input style="width: 400px;border:1px solid #170e29;" type="text" id="instructor_name" placeholder="Name" name="instructor_name" class="form-control ms-5"> 
    </div>
    <div class="mb-5" style="max-width: 500px;margin: 0 auto">
      <label for="price" class="form-label ms-5">Price (in dollars)</label>
      <input style="width: 400px;border:1px solid #170e29;" type="number" id="price" placeholder="100" name="price" class="form-control ms-5"> 
    </div> 
    <div class="mb-5" style="max-width: 500px;margin: 0 auto">
      <label for="imagfile" class="form-label ms-5">Course image path</label>
      <input style="width: 400px;border:1px solid #170e29;" type="text" id="imagfile" placeholder="File path" name="imagfile" class="form-control ms-5"> 
    </div>
    
    <div style="max-width: 400px;margin: 0 auto">
      <button class="btn" style="background-color: #170e29;color:white">Add course</button>
    </div>
    
  </form>

  <h1 class="mb-5 mt-5" style="text-align: center;">Existing courses</h1>
  <table class="mb-5 table table-bordered border-primary table-striped" style="margin: 0 auto;max-width: 700px;">
    <tr>
      <th>Course ID</th>
      <th>Course name</th>
      <th>Instructor name</th>
      <th>Price</th>
      <th>Delete course</th>
    </tr>
    {% if all_courses %}
      {% for course in all_courses %}
        {% set course_name = course.course_name %}
        {% set instructor_name = course.instructor_name %}
        {% set price = course.price %}
        {% set course_id = course.id %}
        <tr>
          <td>{{ course_id }}</td>
          <td>{{ course_name }}</td>
          <td>{{ instructor_name }}</td>
          <td>{{ price }}</td>
          <td><button id="delete_bttn" class="btn" style="background-color: #170e29;color: white;"><a href="/clicked?course_id={{ course_id }}" style="text-decoration: none;color:white">Delete</a></button></td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock %}