/* write css here. Include all css and image files in static folder. */
.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#image {
    width: 100%;
    float: right;
    object-fit: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('page.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.text {
    color: #170e29;
    font-size: 50px;
    text-align: center;

}

#buttons
{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
    background-color:#170e29;
    display: block;
    margin:0 auto;


}

*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: white;
}
footer{
background: #343434;
padding-top: 50px;
}
.container{
width: 1140px;
margin: auto;
display: flex;
justify-content: left;
}
.footer{
width: 33.3%;
}
.copy
{
    float:right;
    text-align: right;
    margin-left:auto ;
}